name: 05 - 2 - filters - activity - types
on: 
    pull_request:
        types: [closed]
        branches: [main]
jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: PR CLOSE
              run: echo "Running whenever PR is closed"
            